# Configuración de Base de Datos
MYSQL_ROOT_PASSWORD=motus_root_2024
MYSQL_DATABASE=motus_baes
MYSQL_USER=motus_user
MYSQL_PASSWORD=motus_pass_2024

# Configuración de la Aplicación
APP_NAME=BAES - Motus
APP_ENV=production
APP_DEBUG=false

# Configuración de Dominio
DOMAIN=motus.grupopcr.com.pa
